<h1>Listing code_terms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @code_terms.each do |code_term| %>
  <tr>
    <td><%= link_to 'Show', code_term %></td>
    <td><%= link_to 'Edit', edit_code_term_path(code_term) %></td>
    <td><%= link_to 'Destroy', code_term, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code term', new_code_term_path %>
